# Environment variables
.env

# Uploaded/generated data
.data/
__data__/

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# IDE settings
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db